<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Főoldal</title>
    <style>
        h1{
            color: green;
        }
    </style>
</head>
<body>
   
    <h1> Üdvözöllek a növények világában!</h1>
    

<img src="{{ url_for('static', filename='images/plant.jpg') }}" alt="Növény képe" width="500"><br>
<a href="/tabla">Nézd meg a növények táblázatát!</a>
</body>
</html>