<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <h1>Növények táblázata</h1>
        <tr>
            <th>Név</th>
            <th> Monstera</th>
            <th> Bambusz</th>
            <th> Kaktusz</th>
        </tr>
        <tr>
            <th>Tipus:</th>
            <th> Szobanövény</th>
            <th> Dísznövény</th>
            <th> Pozsgás</th>
        </tr>
        <tr>
            <th>Jellemző</th>
            <th> Nagyméretű levelek</th>
            <th> Gyors növekedés</th>
            <th> Szárazságtűrő</th>
        </tr>
        
    </table>
    <a href="/">Vissza a föoldalra.</a>
</body>
</html>